LoadPlugin network

<Plugin network>
    <Server "collectd.service.devo.ps" "25826">
        SecurityLevel Sign
        Username "{{ space }}.{{ inventory_hostname }}"
        Password "secret"
    </Server>
    TimeToLive 128
</Plugin>
