<!DOCTYPE html>
<html>
<head>
<title><%= package %> document</title>
</head>
<body>
<h1><% package %></h1>
<%= contents %>
<h1>Configuration</h1>
<% function render(item, obj) { %>
<% var pivot = 0; %>
<% var heads = ['h3', 'h3', 'h3', 'h3', 'h3', 'h3']; %>
<% function _render(item, obj, head) { %>
<<%= head %>><%= item %></<%= head %>>
<ul>
<% var keys = _(obj).keys(); %>
<% _(keys).forEach(function(k, i) { %>
<% if (_(obj[k]).isObject()) { %>
<% if (i === 0) ++pivot %>
<% _render(k, obj[k], heads[pivot]); %>
<% } else { %>
<li><%= k %>: <%= obj[k] %></li>
<% } %>
<% }); %>
</ul>
<% } %>

<% _render(item, obj, heads[pivot]); %>

<% } %>
<% var itemKeys = _(configuration).keys(); %>
<%  _(itemKeys).forEach(function(ik) { %>
<h2><%= ik %></h2>
<ul>
<% var item1 = configuration[ik]; %>
<% if (_(item1).isObject()) { %>
<% var keys = _(item1).keys(); %>
<% _(keys).forEach(function(k) { %>
<% if (!_(item1[k]).isObject()) { %>
<li><%= k %>: <%= item1[k] %></li>
<% } else { %>
<% render(k, item1[k]); %>
<% } %>
<% }); %> 
<% } else { %>
<% _(configuration).forEach(function(f) { %>
<li><%= f %>: <%= configuration[f] %></li>
<% }); %>
<% } %>
</ul>
<% }); %>
</body>
</html>
