{
    "providers": [
        {
            "type": "digitalocean",
            "client_id": "AAA",
            "api_key": "BBB"
        },
        {
            "type": "linode",
            "api_key": "AAA"
        },
        {
            "type": "rackspace",
            "client_id": "AAA",
            "api_key": "BBB"
        },
        {
            "type": "ec2",
            "client_id": "AAA",
            "api_key": "BBB"
        }
    ]
}
